<!DOCTYPE html>
<html>
    <head>
        <title> Vokabel trainer</title>
    </head>
    <body>
        <a href=/learn ><button>Learn</button></a>
        <a href="/add"><button>Add vocabularys</button></a>
        <title>Vocabulary teacher</title>
        <style>
            body {
                background-color: lightblue;
            }
        </style>
    </head>
    <body>
        <p>{{voc}}</p>
        <form method=POST , action=/>
            <input name="eingabe"/>
            <button type="submit">Submit</button>
        </form>
        <a href="lernen.html">FGHGHGHHF</a>
    </body>
</html>