<!DOCTYPE html>
<html>
    <head>
        <title> Vokabel trainer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
    </head>
    <body>
        <a href=/learn ><button>Learn</button></a>
        <a href="/add"><button>Add vocabularys</button></a>
        <title>Vocabulary teacher</title>
        <style>
            body {
                background-color: lightblue;
            }
        </style>
    </head>
    <body>
        <a href="lernen.html">FGHGHGHHF</a>
    </body>
</html>